.a8-room-grid .wrap-content {
  margin-top: 95px;
  padding-bottom: 160px;
  padding-top: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%; }
  .a8-room-grid .wrap-content .div-number-on-off {
    margin: 0 25px; }
    .a8-room-grid .wrap-content .div-number-on-off .div-number-on {
      float: left;
      width: auto;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #ccc; }
    .a8-room-grid .wrap-content .div-number-on-off .div-number-off {
      float: left;
      width: auto; }
    .a8-room-grid .wrap-content .div-number-on-off .div-button-toggle {
      width: auto;
      float: right; }
    .a8-room-grid .wrap-content .div-number-on-off .text-number {
      color: #c0c0c0;
      margin-left: 2px; }
  .a8-room-grid .wrap-content .div-activity {
    margin: 25px 25px 0 20px;
    width: auto;
    overflow: hidden; }
    .a8-room-grid .wrap-content .div-activity .the-activity {
      display: inline-block;
      margin: 5px 15px 3px 3px;
      box-shadow: 0px 2px 10px 2px rgba(224, 224, 224, 0.4);
      border-radius: 5px;
      height: 60px;
      width: 155px;
      outline: none;
      position: relative; }
      .a8-room-grid .wrap-content .div-activity .the-activity .icon-the-activity {
        width: 20px;
        position: absolute;
        top: 20px;
        left: 20px; }
      .a8-room-grid .wrap-content .div-activity .the-activity .text-the-activity {
        width: auto;
        white-space: normal;
        position: absolute;
        top: 22px;
        left: 50px;
        font-weight: bold;
        font-size: 15px;
        color: #b7b7b7;
        max-height: 34px;
        overflow: hidden;
        padding-right: 5px; }
      .a8-room-grid .wrap-content .div-activity .the-activity.active .text-the-activity {
        color: #000; }
    .a8-room-grid .wrap-content .div-activity .div-some-scences {
      width: 75px;
      height: auto;
      padding: 0 5px;
      margin: 0;
      outline: none;
      color: #c2c2c2;
      text-align: center; }
      .a8-room-grid .wrap-content .div-activity .div-some-scences p {
        margin-top: 10px;
        width: auto;
        height: 32px;
        overflow: hidden;
        white-space: initial; }
      .a8-room-grid .wrap-content .div-activity .div-some-scences img {
        width: 50px; }
      .a8-room-grid .wrap-content .div-activity .div-some-scences.active {
        color: #000;
        font-weight: bold; }
  .a8-room-grid .wrap-content .div-line-activity {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #e4e4e4;
    margin-top: 20px;
    margin-bottom: 20px; }
  .a8-room-grid .wrap-content .tittle-lamp {
    margin-left: 25px;
    font-size: 15px;
    font-weight: bold; }
  .a8-room-grid .wrap-content .div-lamp {
    margin-top: 10px;
    width: auto;
    margin-left: 23px;
    overflow: hidden;
    padding-right: 1px; }
    .a8-room-grid .wrap-content .div-lamp .slick-list {
      padding-left: 2px; }
    .a8-room-grid .wrap-content .div-lamp .the-lamp {
      background: #fff;
      width: 102px;
      margin: 3px 13px 3px 1px;
      box-shadow: 0px 2px 10px 2px rgba(224, 224, 224, 0.4);
      border-radius: 5px;
      height: 100px;
      outline: none;
      position: relative; }
      .a8-room-grid .wrap-content .div-lamp .the-lamp .icon-the-lamp {
        height: 40px;
        width: 40px;
        margin-left: 10px;
        margin-top: 10px; }
        .a8-room-grid .wrap-content .div-lamp .the-lamp .icon-the-lamp img {
          width: 40px;
          height: 40px; }
        .a8-room-grid .wrap-content .div-lamp .the-lamp .icon-the-lamp img.on {
          display: none; }
        .a8-room-grid .wrap-content .div-lamp .the-lamp .icon-the-lamp img.off {
          display: block; }
      .a8-room-grid .wrap-content .div-lamp .the-lamp .text-the-lamp p {
        margin: 5px 10px;
        font-weight: bold;
        overflow: hidden; }
      .a8-room-grid .wrap-content .div-lamp .the-lamp .text-the-lamp span {
        margin: 5px 10px 10px 10px;
        color: #c2c2c2; }
      .a8-room-grid .wrap-content .div-lamp .the-lamp .text-the-lamp span.off {
        display: block; }
      .a8-room-grid .wrap-content .div-lamp .the-lamp .text-the-lamp span.on {
        display: none; }
      .a8-room-grid .wrap-content .div-lamp .the-lamp.active .text-the-lamp span.off {
        display: none; }
      .a8-room-grid .wrap-content .div-lamp .the-lamp.active .text-the-lamp span.on {
        display: block; }
      .a8-room-grid .wrap-content .div-lamp .the-lamp.active .icon-the-lamp img.on {
        display: block; }
      .a8-room-grid .wrap-content .div-lamp .the-lamp.active .icon-the-lamp img.off {
        display: none; }

.div-bgc-25 {
  overflow: hidden;
  margin: 10px 25px 15px;
  height: auto;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 10px 5px 10px 10px;
  border-radius: 8px; }
  .div-bgc-25 .div-lamp {
    margin-left: 0 !important;
    margin-top: 0 !important; }
    .div-bgc-25 .div-lamp .the-lamp:last-child {
      margin-right: 10px !important; }
  .div-bgc-25 .tittle-lamp {
    margin-left: 4px !important;
    margin-bottom: 10px; }

/*# sourceMappingURL=a8-room-gird.css.map */
