@import "mixins";
.a8-room-grid{
  .wrap-content{
    margin-top: 95px;
    padding-bottom: 160px;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    .div-number-on-off{
      margin: 0 25px;
      .div-number-on{
        float: left;
        width: auto;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #ccc;
      }
      .div-number-off{
        float: left;
        width: auto;
      }
      .div-button-toggle{
        width: auto;
        float: right;
      }
      .text-number{
        color: #c0c0c0;
        margin-left: 2px;
      }
    }

    .div-activity{
      margin: 25px 20px 0 20px;
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      .the-activity{
        display: inline-block;
        margin: 5px 15px 3px 3px;
        @include boxshad;
        border-radius: 5px;
        height: 60px;
        width: 155px;
        outline: none;
        position: relative;
        .icon-the-activity{
          width: 20px;
          @include positonabtl(20px, 20px);
        }
        .text-the-activity{
          width: auto;
          white-space: normal;
          @include positonabtl(22px, 50px);
          font-weight: bold;
          font-size: 15px;
          color: #b7b7b7;
          max-height: 34px;
          overflow: hidden;
          padding-right: 5px;
        }
        &.active{
          .text-the-activity{
            color: #000;
          }
        }
      }
    }
    
    .div-line-activity{
      margin-left: 25px;
      margin-right: 25px;
      background-color: #e4e4e4;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .tittle-lamp{
      margin-left: 25px;
      font-size: 15px;
      font-weight: bold;
    }
    .div-lamp{
      margin-top: 10px;
      width: auto;
      margin-left: 23px;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 1px;

      .the-lamp{
        display: inline-block;
        background: #fff;
        width: 102px;
        margin: 3px 13px 3px 1px;
        @include boxshad;
        border-radius: 5px;
        height: 100px;
        outline: none;
        position: relative;
        .icon-the-lamp{
          height: 40px;
          width: 40px;
          margin-left: 10px;
          margin-top: 10px;
          img{
            width: 40px;
            height: 40px;
          }
        }
        .text-the-lamp{
          p{
            margin: 5px 10px;
            font-weight: bold;
            overflow: hidden;
          }
          span{
            margin: 5px 10px 10px 10px;
            color: #c2c2c2;
          }
        }
      }
    }

  }
}

.div-bgc-25{
  overflow: hidden;
  margin: 10px 25px 15px;
  height: auto;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 10px 0 10px 10px;
  border-radius: 8px;

  .div-lamp{
    margin-left: 0 !important;
    margin-top: 0 !important  ;
    .the-lamp:last-child{
        margin-right: 10px !important;
    }
  }
  .tittle-lamp{
    margin-left: 4px !important;
    margin-bottom: 10px;
  }
}

